<?xml version='1.0' encoding='utf-8'?>
<widget id="it.policlinicoumberto1.m.tracker" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
	<name>Tracker</name>
	<description>GPS-less tracker.</description>
	<author email="a71104@gmail.com" href="https://github.com/71104">Alberto La Rocca</author>
	<content src="index.html"/>
	<access origin="*"/>
</widget>
